<!-- <footer>
    <div class="footer-info">
        <div class="f-brand">Airbnd</div>
        <br>
        <div class="f-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer> -->