<nav class="navbar">
    <div class="container">
        <a href="/" class="brand">ListingsApp</a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/listings">Listings</a></li>
            <li><a href="/listings/new">Create Listing</a></li>
        </ul>
    </div>
</nav>