<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <h3>Create new Listings </h3>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter title">
        <br><br>
        <textarea name="listing[description]" placeholder="Enter Description" rows="5" cols="30"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter image link">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter Country">
        <br><br>
        <button>Add</button>
    </form>
    
</body>